<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Semillas" type="System.Configuration.IgnoreSectionHandler" requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMO2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="pathObjetos" value="c:\\path\\schema.sql" />
    <add key="pathSemillas" value="c:\\path\\seeds.sql" />
    <!-- sql server instancia  -->
    <add key="serverInstance" value="localhost" />
    <add key="LoginSecure" value="false" />
    <add key="Login" value="login" />
    <add key="Password" value="pass" />
    <add key="DB" value="db" />
  </appSettings>  
  
</configuration>